﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Главная - PartyInvites</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <style>
        .btn a {color: white;text-decoration: none;}
        body {background-color: #F1F1F1;}
    </style>
</head>
<body>
    <div class="text-center">
        @ViewBag.Greeting
        <h1>Приглашаем посетить мероприятие</h1>
        <h2>Необходимо заполнить форму</h2>
        <div class="btn btn-success">
            @Html.ActionLink("Форма для ответа на приглашение(RSVP)", "RsvpForm")
        </div>
    </div>
</body>
</html>
