﻿@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Форма для ответа на приглашение(RSVP)</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <style>
        body {background: #f1f1f1;}
    </style>
</head>
<body>
    <div class="text-center">
        <h1>Спасибо, @Model.Name!</h1>
        <div class="lead">
            @if (Model.WillAttend == true)
            {
                @:Ждем
                @Model.Name
                @Model.Email
                @Model.Phone
            }
            else
            {
                @:Спасибо, что предупредили.
            }
        </div>
    </div>
</body>
</html>
